.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
input {
    width: 900px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    padding: 12px;
}

button{
    padding: 0 12px;
    outline: none;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3898ec;
}